.details {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 5rem;
}

.product-item {
  display: flex;
  flex-direction: column;
}

img {
  height: 500px;
  width: 500px;
}

.back-btn {
  margin-top: 1rem;
  font-size: 1rem;
  background-color: white;
  border: none;
}
