.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 10rem;

  text-align: center;
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .form-group {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    .f-label {
      text-align: left;
      margin-bottom: 5px;
    }
    input {
      height: 30px;
      width: 400px;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid black;
      font-size: 16px;
      padding: 5px;
    }
  }

  .btn-primary {
    width: 400px !important;
  }
}
